---
layout: null
title: "Christoph Reiner · private Physiotherapie in München"
description: "Physiotherapie · Osteopathie · Functional Fitness · München"
---

<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script type="text/javascript" src="/assets/javascript/main.js"></script>
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <link rel="alternate" type="application/atom+xml" href="/feed.xml" />

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="Physiotherapie, Osteopathie, Funktional Fitness, München">

  <link rel="icon" href="{{ '/assets/images/figur-32.png' | absolute_url }}" sizes="any">
  <link rel="icon" href="{{ '/assets/images/figur-white.svg' | absolute_url }}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ '/assets/images/figur-180.png' | absolute_url }}">

  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }} ">
  <meta property="og:image" content="{{ '/assets/images/preview-image.png' | absolute_url }}">

  <meta name="twitter:card" content="summary_large_image">

  <script src="https://cdn.counter.dev/script.js" data-id="3fd1c66f-09ab-4cc3-8b8d-e9a577c8a82c" data-utcoffset="1"></script>

  <script type="application/ld+json">
    {% include local-business.schema.json %}
  </script>

  <script type="application/ld+json">
    {% include person.schema.json %}
  </script>
</head>

<body class="has-navbar-fixed-top" id="index">

  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand" style="width: 100%">
      <a href="#" class="navbar-item">
        <img src="assets/images/figur.svg" alt="Logo">
      </a>
      <div class="navbar-menu">
        <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
          <a class="navbar-item is-active" href="#home">Home</a>
          <a class="navbar-item" href="#uber-mich">Über mich</a>
          <a class="navbar-item" href="#kontakt">Kontakt</a>
        </div>
      </div>
  </nav>


  <section id="home" class="hero is-primary is-medium">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Christoph Reiner</h1>
        <p class="subtitle">private Physiotherapie</p>
      </div>
    </div>
  </section>


  <section class="section">
    <div class="container content">
      <h2 class="manikin">Gesundheit ist der größte Reichtum</h2>
      <p>Als Therapeut und Trainer habe ich jahrelang mit unterschiedlichen Spitzen- und Hobbysportlern intensiv gearbeitet. Aber auch viele Patienten aus dem orthopädischen und internistischen Bereich waren nach Operationen bei mir in Behandlung – ebenso wie Patienten, bei denen eine konservative Behandlung angezeigt war.</p>
      <div class="more-section">
        <a class="more-button button is-primary">▼ Mehr anzeigen</a>
        <div class="more-content">
          <p>Besonders die intensive Befunderhebung ist für den langfristigen Erfolg einer Therapie entscheidend. Ziel ist immer, nicht nur die Symptome zu behandeln, sondern die Hauptursache der Schmerzen zu finden. Da immer mehr Patienten mit Schmerzzuständen ohne greifbarer Diagnose zu mir in die Praxis kommen, ist eine umfassende Diagnostik das A und O einer erfolgreichen Behandlung. Diese nimmt immer einige Zeit in Anspruch, die ich gerne für Sie investiere!</p>
          <p>Jeder Schmerzzustand muss dokumentiert, aus verschiedenen Perspektiven betrachtet und letztendlich wirksam behandelt werden.Hier kann ich durch den intensiven Austausch mit Orthopäden, Internisten, Zahnärzten und Ernährungsexperten jederzeit auf vielfältige Möglichkeiten der Therapie zurückgreifen und zu jedem Zeitpunkt der Behandlung speziell auf Ihre Bedürfnisse eingehen.</p>
          <p>Jede Patientin und jeder Patient hat individuelle Beschwerden und dazu seine eigene Geschichte zu erzählen. Genau das macht meinen Beruf zu etwas sehr Interessantem, Spannendem und Einzigartigem!</p>
          <p>Ich bin für Sie da, höre mir die Details zu Ihrer Krankheitsgeschichte genau an und gemeinsam finden wir für Sie die bestmögliche Behandlung.</p>
          <p>Ihre Gesundheit liegt mir am Herzen!</p>
          <p>Lassen Sie uns anfangen und melden Sie sich bald bei mir.</p>
          <p>Ich stehe jederzeit per Telefon (<a href="tel:+4901727199834">0172&nbsp;7199834</a>) oder E-Mail (<a href="mailto:info@christophreiner.de">info@christophreiner.de</a>) für Sie zur Verfügung.</p>
          <p>Ich freue mich auf unseren ersten Kontakt!</p>
        </div>
      </div>
    </div>
  </section>


  <section class="section" id="blog">
    <div class="columns is-mobile">
      {% for post in site.posts %}
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="{{ post.image }}" alt="{{ post.title }}">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3 class="title">{{ post.title }}</h1>
              <p>{{ post.excerpt }}</p>
            </div>
          </div>
          <a href="{{ post.url }}" class="button is-primary">›&nbsp;Artikel&nbsp;lesen</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>


  <section id="uber-mich" class="hero is-medium">
    <div class="hero-body">
      <div class="container">
        <h2 class="title has-text-white">Über mich</h2>
        <div class="content has-text-white">
          <ul>
            <li>5-jähriges Osteopathie-Studium nach BAO mit klinischer Prüfung (1.350&nbsp;Stunden)</li>
            <li>Staatlich geprüfter Physiotherapeut </li>
            <li>Manualtherapeut</li>
            <li>Sportphysiotherapeut</li>
            <li>Kinesiotape-Zertifikat</li>
            <li>FMS-Zertifikat</li>
            <li>IFAA Dozent (2010&thinsp;&ndash;&thinsp;2015)</li>
            <li>Physiotherapeut bei TSV&nbsp;1860 München und FC&nbsp;Augsburg (2010&thinsp;&ndash;&thinsp;2015)</li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <section class="section">
    <div class="container content">
      <h2 class="manikin">Functional Fitness & Health Coaching</h2>
      <p>Als erfahrener Physiotherapeut mit einem abgeschlossenen Osteopathie-Studium betrachte ich Sport und Fitness ganzheitlich und umfassend. Kaum ein Freizeit-, Amateur- oder Profisportler trainiert völlig beschwerdefrei. Durch jahrelange Behandlungen an der Therapiebank und als langjähriger Trainer im Sportbereich habe ich bereits viele unterschiedliche Verletzungen und Schmerzen erfolgreich behandelt: Häufig sind bei Sportlern Entzündungen an der Kniescheibe, Beschwerden an der Achillessehne, die klassischen Schulter-Nacken-Beschwerden oder Schmerzen an der Lendenwirbelsäule zu beobachten.
      <div class="more-section">
        <a class="more-button button is-primary" id="">▼ Mehr anzeigen</a>
        <div class="more-content">
          <p>Genau hier setzt mein Coaching an, das zehn Trainingseinheiten umfasst. Jeder Mensch ist so individuell, dass es keineswegs sinnvoll ist, eine klassische Trainingsvorlage aus dem Internet stur nachzutrainieren. Um Überlastungen und Asymmetrien langfristig in den Griff zu bekommen, bedarf es eines überlegten Trainingskonzepts, um diese Schwachstellen zu beheben - möglicherweise durch reine Übungen oder im Bedarfsfall durch passive Anwendungen.</p>
          <p>Mein Job ist herauszufinden, welche Behandlungsmethode für Sie effektiv ist, am besten zu Ihnen passt und Sie schnell wieder beschwerdefrei und gesund werden lässt.</p>
          <p>Durch bestimmte Testverfahren, Befundungsmöglichkeiten und den aktuellen Stand der Wissenschaft ist es mir möglich, ein Konzept für Sie zu entwickeln, welches optimal auf Ihre Bedürfnisse abgestimmt ist.</p>
          <p>Ich biete folgende Modelle für Sie an:</p>
          <ul>
            <li>Rehaplan nach Verletzungen und die Wiedereingliederung in den Sport (Gewichtheben, Functional Fitness, Fußball, Tennis, Handball, Bodybuilding)</li>
            <li>Rehaplan, begleitend zu Ihrem schon bestehenden Trainingsplan</li>
            <li>Rehaplan bei Schulterbeschwerden</li>
            <li>Rehaplan bei Hüftbeschwerden</li>
            <li>Optimierung der Leistungsfähigkeit durch körperliche manuelle Diagnostik und darauf abgestimmte gezielte Übungen sowie Verbesserung der Energiequellen</li>
            <li>Langfristige Verbesserung der Lebensqualität durch Trainingsplanerstellungen bei Bluthochdruck, Diabetes, oder Adipositas</li>
            <li>Langfristige Verbesserung der Lebensqualität durch Trainingsplanerstellungen bei Nacken- und Lendenwirbelsäulenbeschwerden im Berufsalltag</li>
            <li>Förderung der Mobilität und Erreichung eines gesunden Lebensstils</li>
          </ul>
          <p>Schreiben Sie mir gerne an <a href="mailto:info@christophreiner.de">info@christophreiner.de</a>, wenn ich Sie bei Ihrem Training unterstützen darf!</p>
          <p>Ich freue mich auf eine tolle Zusammenarbeit mit Ihnen und über jeden Einzelnen, dem ich bei seinen individuellen Beschwerden helfen kann!</p>
          <p>„Jeder Mensch ist anders! Genau das macht uns Menschen zu etwas ganz Besonderem!“</p>
        </div>
      </div>
    </div>
  </section>


  <section class="section">
    <div class="container content">
      <h2 class="manikin">„With thinking fingers“ - Was ist Osteopathie?</h2>
      <p>Osteopathie ist eine ganzheitliche und eigenständige Form der Medizin.</p>
      <p>In der Diagnostik und der Therapie werden Sie als Patient manuell mit meinen Händen in der Gesamtheit untersucht und behandelt.</p>
      <p>Dabei spielt das Erstgespräch eine wesentliche Rolle, um sich über Ihre aktuellen Beschwerden ein genaues Bild machen zu können und mögliche Zusammenhänge herzuleiten.</p>
      <p>Die Osteopathie basiert auf drei Pfeilern:</p>
      <ul>
        <li>Parietale Osteopathie</li>
        <li>Viszerale Osteopathie</li>
        <li>Craniosacrale Osteopathie</li>
      </ul>
      <div class="more-section">
        <a class="more-button button is-primary">▼ Mehr anzeigen</a>
        <div class="more-content">
          <h3 class="is-size-5">Parietale Osteopathie</h3>
          <p>Bei der osteopathischen Behandlung werden strukturelle Veränderungen vom Bewegungsapparat (Gelenke, Muskeln, Bänder usw.) untersucht und bei Bedarf gelöst.</p>
          <h3 class="is-size-5">Viscerale Osteopathie</h3>
          <p>Ebenfalls betrachtet man das viszerale System (innere Organe) als einen wesentlichen Schlüsselpunkt, der auf den Gesamtorganismus Einfluss nimmt und für Krankheiten, Blockaden, Haltung und die Psyche einen großen Einfluss hat.</p>
          <p>Hier wird die Beweglichkeit der Organe zueinander und im Bezug zu den umliegenden Faszien thematisiert.</p>
          <p>Daher ist es wichtig, dieses System zu untersuchen, mögliche Spannungen auszugleichen und die Durchblutung zu verbessern.</p>
          <h3 class="is-size-5">Craniosacrale Osteopathie</h3>
          <p>Als weiteren wichtigen Bestandteil betrachtet man das Nervensystem von der Basis des Craniums (Schädel) entlang der Wirbelsäule mit dem Nervenschlauch und seiner Umhüllung der Hirnhaut und dem Liquor (Flüssigkeit, die dem Nervensystem wichtige Nährstoffe liefert) bis hin zum Sacrum (Kreuzbein), in dem das zentrale Nervensystem endet. Dieses System hat einen großen Einfluss auf das vegetative System und kann von wesentlicher Bedeutung für die Durchblutung der Organe und das psychoemotionale System sein. Ebenfalls befindet sich hier einer der Schaltstellen für hormonelle Regulationsmechanismen, die den Körperkreislauf durcheinanderbringen können. Hier wird die Beweglichkeit der Schädelknochen zueinander, des Kreuzbeins und die Zirkulation der Hirn- und Rückenmarksflüssigkeit begutachtet. Durch gezielte Techniken kann Einfluss auf die verschiedenen Systeme genommen werden.</p>
          <p>In der Osteopathie müssen alle Systeme untersucht werden, um den Hauptauslöser Ihrer Beschwerden zu identifizieren und diesen entsprechend zu behandeln.</p>
          <p>Im Wesentlichen liegt der Fokus darauf, eine ausgeglichene Flüssigkeitsverteilung im Körper zu erreichen, damit sämtliche Strukturen gut ernährt werden können und jede Struktur sowohl ihre eigenständige Funktion als auch im Verbund gemeinsam übernehmen kann.</p>
          <p>Dann ist der Körper in der Lage, die Selbstregulation zu aktivieren!</p>
        </div>
      </div>
    </div>
  </section>


  <section class="section" id="review">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">

          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image">
                    <img src="assets/images/reviews/laura.jpg" alt="Laura P.">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-3">Laura P.</p>
                  <p class="subtitle is-4 stars">★ ★ ★ ★ ★</p>
                </div>
              </div>
              <div class="content">
                Als ex Handball-Spielerin liebe ich jede Form von sportlicher Aktivität. Mein Bewegungsdrang ist allerdings wegen diversen Operationen, drei davon am Knie, immer mal wieder gebremst worden. Es ist Christoph gewesen, der mich durch alle langwierigen Phasen meiner Rehabilitationen professionell unterstützt und entscheidend zur schnellen Genesung geführt hat. Als sehr erfahrener Physiotherapeut hat er jedes Mal eine passende Therapie für mich gehabt, die mir erlaubt hat, in kurzer Zeit sichere Mobilität zurückzugewinnen. Als geduldiger und kompetenter Osteopath hat er meine postoperativen Schmerzen stets erfolgreich lindern können. Dafür hat er sich reichlich Zeit für Diagnostik, Untersuchung und Behandlung genommen. Als experter Personal-Trainer hat er mich mit gezielten Übungen und individuellen Herausforderungen immer wieder fit gemacht. Seine angenehmste Art von Hartnäckigkeit hält jeden in Bewegung. Dafür bin ich ihm sehr dankbar. Ein echter Gewinn!
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image">
                    <img src="assets/images/reviews/georg.jpg" alt="Georg Niedermeier">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-3">Georg Niedermeier</p>
                  <p class="subtitle is-4 stars">★ ★ ★ ★ ★</p>
                </div>
              </div>
              <div class="content">
                Ich bin glücklich, dass Christoph mich über meine komplette Karriere hinweg medizinisch herausragend betreut hat und bis heute kompetent, qualifiziert und stets engagiert mit Rat und Tat zur Seite steht.
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section id="kontakt" class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure id="mapContainer1" class="image is-2by1">
                <img id="map1" src="" alt="Praxis Therapiehelden, Karlsplatz 5">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Praxis Therapiehelden, Karlsplatz 5</p>
                  <p class="subtitle is-5">Dienstag, Mittwoch und Donnerstag</p>
                </div>
              </div>
              <div class="content">
                Terminvereinbarung unter:
                <a href="tel:+498954348764">089&nbsp;54348764</a> oder
                <a href="mailto:kontakt@therapiehelden.de">kontakt@therapie-helden.de</a>.
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure id="mapContainer2" class="image is-2by1">
                <img id="map2" src="" alt="Orthopädie Praxis Dr. Sommer / Dr. Keil, Agnes-Bernauer-Str. 123">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Orthopädie Praxis Dr.&nbsp;Sommer / Dr.&nbsp;Keil, Agnes-Bernauer-Str.&nbsp;123</p>
                  <p class="subtitle is-5">Freitag</p>
                </div>
              </div>
              <div class="content">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section" id="terminbuchung">
    <style>
      #pss {
          --pss-steps-background-color: #00a1ff;
          --pss-infos-underline-color: #00a1ff;
          /* --pss-tab-underline-color: #00a1ff; */
          /* --pss-tab-selected-underline-color: #00a1ff; */
          --pss-slots-button-selected-color: #00a1ff;
          /*--pss-appname-color: white;*/
      }

      .kv_styleclass_0, .kv_styleclass_1, .kv_styleclass_5 {
        display: none !important;
      }
    </style>

    <script type="text/javascript" src="https://my.lemniscus.de/lem/app.nocache-pss.js?" async></script>

    <script type="text/javascript">
      const pssConfig = { host: "https://my.lemniscus.de", token: "cb09f180-d3fa-442b-8456-c85a65825e02" }
    </script>

    <div class="container content">
      <h2 class="manikin">Terminbuchung</h2>
      <div id="pss"></div>
    </div>

    <a href="#terminbuchung" class="button is-primary is-large is-rounded terminbuchung">Termin buchen</a>

  </section>


  <section class="section">
    <div class="container content">
      <h2 class="manikin">Kostenerstattung</h2>
      <p>Ich behandle alle Patienten. Haben Sie ein ärztliches Privatrezept, können Sie dieses direkt mit Ihrer privaten Krankenversicherung abrechnen. Sie können sich aber auch gerne bei mir behandeln lassen, wenn Sie gesetzlich versichert sind. Ich stelle die Kosten anschließend privat in Rechnung. Sie haben aber auch hier die Möglichkeit, die Rechnung im Anschluss bei Ihrer gesetzlichen Krankenkasse einzureichen.</p>
      <p>Generell sollten Sie jedoch immer im Voraus mit Ihrer Krankenkasse in Verbindung treten und sich vorab informieren, ob und in welcher Höhe die Kosten erstattet werden. Unter <a href="https://bv-osteopathie.de" target="_blank" rel="nofollow">bv-osteopathie.de</a> oder <a href="https://osteokompass.de" target="_blank" rel="nofollow">osteokompass.de</a> kann ein etwaiger Anspruch eingesehen werden.</p>
      <p>Da jede Krankenkasse die Kostenübernahme unterschiedlich handhabt, übernehme ich hierfür keine Haftung - ich stehe jedoch jederzeit gerne telefonisch zur Verfügung, wenn Sie Fragen haben.</p>
    </div>
  </section>


  <footer class="footer has-background-dark has-text-white">

    <div class="container">
      <div class="columns">
        <div class="column has-text-centered-mobile">
          <address>
            <strong class="has-text-white">Christoph&nbsp;Reiner</strong>
            <br>Praxis Therapiehelden
            <br>Karlsplatz&nbsp;5, München
            <br><a class="has-text-white" href="tel:+498954348764">089&nbsp;54348764</a>
            <br><a class="has-text-white" href="mailto:info@christophreiner.de">info@christophreiner.de</a>
          </address>
        </div>
        <div class="column has-text-centered-mobile has-text-right">
          <img src="assets/images/bvo.jpg" width="170" height="73" />
        </div>
      </div>
    </div>

    <div id="impressum" class="container content has-text-centered">
      <a id="impressum-link" href="#" class="has-text-white">Impressum</a>
      <div id="impressum-content" hidden>
        <address>
          <strong class="has-text-white">Christoph&nbsp;Reiner</strong>
          <br>Guardinistraße&nbsp;67, 81375&nbsp;München<br>
          <a class="has-text-white" href="tel:+4901727199834">0172&nbsp;7199834</a>,
          <a class="has-text-white" href="mailto:info@christophreiner.de">info@christophreiner.de</a>
        </address>
      </div>
    </div>

    <div class="container has-text-centered">
      <a class="has-text-white" href="https://thomas.preissler.me" target="_blank">Made with ♥️ by Thomas</a>
    </div>

    <div class="container" style="height: 4rem">
      <!-- spacer for Termin buchen button-->
    </div>

  </footer>


</body>

</html>
