@charset "utf-8";


$primary: #00a1ff;
$link: $primary;

$navbar-item-active-color: white;
$navbar-item-active-background-color: $primary;
$navbar-breakpoint: 0px;

$hero-body-padding-tablet: 3rem 4.5rem;

$footer-padding: 3rem 1.5rem;

$widescreen-enabled: false;
$fullhd-enabled: false;

// @import "bulma/bulma.sass";

@import "bulma/sass/base/_all.sass";
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/layout/_all";
@import "bulma/sass/helpers/_all";

@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/icon.sass";
@import "bulma/sass/elements/image.sass";
@import "bulma/sass/elements/title.sass";

@import "bulma/sass/components/card.sass";
@import "bulma/sass/components/navbar.sass";

@import "bulma/sass/grid/columns.sass";


@import "index.scss";
@import "blogpost.scss";
